<%= form_with model: @employee do |f| %>

<%= @employee.errors %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %></p>

  <p><%= f.label :alias %>
    <%= f.text_field :alias %></p>

  <p><%= f.label :title %>
    <%= f.text_field :title %></p>

  <p><%= f.label :office %>
    <%= f.text_field :office %></p>

  <p><%= f.label :img_url %>
    <%= f.url_field :img_url %></p>

  <p>Choose a dog: <%= f.collection_select :dog_id, Dog.all, :id, :name %></p>

  <%= f.submit %>

<% end %>
