<h3>Update Employee Form</h3>

<%= form_with model: @employee do |f| %>
    <label>First Name:</label><br>
    <%= f.text_field :first_name %><br>
    <label>Last Name:</label><br>
    <%= f.text_field :last_name %><br>
    <label>Alias:</label><br>
    <%= f.text_field :alias %><br>
    <label>Title:</label><br>
    <%= f.text_field :title %><br>
    <label>Office:</label><br>
    <%= f.text_field :office %><br>
    <label>Image URL:</label><br>
    <%= f.text_field :img_url %><br>
    <label>Dog:</label><br>
    <%= f.collection_select :dog_id, Dog.all, :id, :name %><br>
    <%= f.submit %>
<% end %>