As a user I should be able to create and edit an Employee and be able to select 
1 dog from a list of existing dogs.

<h1>Employee New</h1>

<%= form_with model: @employee do |form| %>
    <p>First Name: <%= form.text_field :first_name %></p>
    <p>Last Name: <%= form.text_field :last_name %></p>
    <p>Alias: <%= form.text_field :alias %></p>
    <p>Title: <%= form.text_field :title %></p>
    <p>Office: <%= form.text_field :office %></p>
    <p>Image URL: <%= form.text_field :img_url %></p>
    <p>Dog ID: <%= form.text_field :dog_id %></p>
    <%= form.submit %>
    <% end %>
