The Employee show page should list all of their attributes 
(bonus if you could get a picture to show up)

<h1>Employee Show</h1>

<p>Name: <%= @employee.first_name %> <%= @employee.last_name %></p>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Image URL: <%= @employee.img_url %></p>
<p>Dog ID: <%= @employee.dog_id %></p>
<p>Dog: <%= @employee.dog.name %></p>