<h3><%=@employee.first_name%> belongs to:</h3>

<h2><%=@employee.dog.name%></h2>


<h4>Other:</h4>
<p>Last Name: <%=@employee.last_name%></p>
<p>Alias: <%=@employee.alias%></p>
<p>Title: <%=@employee.title%></p>
<p>Office: <%=@employee.office%></p>
<p>Dog ID: <%=@employee.dog_id%></p>