<h2><%= @employee.first_name %> <%= @employee.last_name %></h2>
  <ul>Alias: <%= @employee.alias %></ul>
  <ul>Title: <%= @employee.title %></ul>
  <ul>Office: <%= @employee.office %></ul>
  <ul>Dog Name: <%= @employee.dog.name %></ul>
  <ul><%= image_tag(@employee.img_url) %></ul>

