<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
    <p><strong>Alias: </strong><%= @employee.alias %></p>
    <p><strong>Title: </strong><%= @employee.title %></p>
    <p><strong>Office: </strong><%= @employee.office %></p>
    <img src="<%= @employee.img_url %>" alt="<%= @employee.first_name %> <%= @employee.last_name %>">
