<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<p>Employee alias: <%= @employee.alias %></p>
<p>Employee title: <%= @employee.title %></p>
<p>Employee office: <%= @employee.office %></p>
<p>Employee dog: <%= @employee.dog.name %></p>
<p>Employee image: <img src="<%= @employee.img_url %>"></p>

