<h1><%= @dog.name %></h1>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<p>Biggest Fans:</p>
<ul>
  <% @dog.employees.each do |e| %>
  <li><%= link_to e.first_name, employee_path(e) %> <%= e.last_name %></li>
  <% end %>
</ul>

<h4><%= link_to "Go Back", dogs_path %></h4>
