<h2><%= @dog.name %></h2>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<h3>Employees:</h3>
<% @dog.employees.each do |employee| %>
<p><%= employee.first_name %> <%= employee.last_name %></p>
<% end %>

