<h1>Dogs Show</h1>
<h3> Name: <%=@dog.name%> </h3>
<h3> Breed: <%=@dog.breed%> </h3>
<h3> Age: <%=@dog.age%> </h3>
<h3> Employees: </h3>
<%@dog.employees.each do |e|%>
<p><a href='/employees/<%=e.id%>'><%=e.first_name%> <%=e.last_name%></p>
<%end%>