<h1><%= @dog.name %></h1>
<h3>Breed: <%= @dog.breed %></h3>
<h3>Age: <%= @dog.age %></h3>
<h3>Employees:</h3>
<% @dog.employees.each do |e| %>
    <h3><%= e.first_name %> <%= e.last_name %></h3>
<% end %>