<h1>Dogs#show</h1>
<p>Dog name: <%= @dog.name %></p>
<p>Dog breed: <%= @dog.breed %></p>
<p>Dog age: <%= @dog.age %></p>
<p>Employee: <% @dog.employees.each do |em| %>
    <%= em.first_name %> <%= em.last_name %></p>
<% end %>